fastapi==0.95.1
numpy==1.24.3
pandas==1.5.3
kaggle==1.5.13
psycopg2-binary==2.9.6
loguru==0.7.0
alembic==1.10.4
pendulum==2.0.0
sqlalchemy==1.4.48
scikit-learn==1.2.2
category-encoders==2.6.0
xgboost==1.7.5
mlflow==2.3.1
click
python-dotenv
joblib
pytest==7.3.1
pytest-cov==4.0.0
pytest-mock==3.10.0
azure-storage-blob
azure-mgmt-resource
azure-mgmt-storage
psutil==5.9.5
scipy==1.9.1
gradio
azure-identity
isort